@charset "UTF-8";

header {
	overflow: hidden;
	padding: 0px;
}

header > h1 {
	margin: 0;
	float: left;
	background: url('http://bitcamp.co.kr/img/logo2.jpg') no-repeat -29px 50%;
	height: 0;
	padding-top: 40px;
	overflow: hidden;
	background-size: contain;
}

header ul {
	float: right;
}

header li {
	list-style: none;
	display: inline-block;
	margin: 0 5px;
}

footer {
	background-color: navy;
	color: white;
	
}

footer > p {
	text-align: center;
	padding: 10px;
}